@using Biblio.Model.Entities
@model Produit

<div class="container">
    <div>
        <label for="code">Code : </label>
        <input name="code" type="number"/>
        <label for="lib">Libelle : </label>
        <input name="lib" type="text"/>
        <label for="desc">Description : </label>
        <input name="desc" type="text"/>
        <label for="actif">Actif : </label>
        <input name="actif" type="checkbox"/>
        <label for="stock">Stock : </label>
        <input name="stock" type="number"/>
        <label for="cate">Categorie : </label>
        <select name="cate">
                
        </select>
        <input type="button" class="btn btn-dark" value="Valider"/> 
    </div>
</div>
