@using Biblio.Model.Entities;
@model List<Produit>

<div>
    <div>
        <label for="search">Recherche par nom : </label>
        <input type="text" name="search" id="search" />
        <input type="button" class="btn btn-dark" value="Rechercher" id="research" />
    </div>
    <div>
        <h3>Liste des produits disponibles</h3>
    </div>
    @Html.Partial("Produits", Model)
</div>

<script type="text/javascript">
    $(() => {
        $("#research").click(() => {
            var url = "@Url.Action("Search", "Produit", new { libelle = "__libelle__"})";
            url = url.replace("__libelle__", $("#search").val());
            location.href = url;
        })
    })
</script>