@using Biblio.Model.Entities;
@model List<Produit>

<div>
    <div>
        <h3>Liste des produits disponibles</h3>
    </div>
    @if (Model.Count != 0)
    {
        @Html.Partial("Produits", Model)
    }
    else
    {
        <div>
            <p>Aucun produit trouvé, dsl</p>
        </div>
    }
</div>